<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dept list</title>

    <style>
        body{
        background-color:#DADED4;
        }
        table, td, th {
            border: 1px solid black;
            padding: 10px;
        }
        table {
            border-collapse: collapse;
            width: 50%;

        }
        td {
            text-align: center;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:hover {
            background-color: #bbff99;
        }

    </style>
</head>
<body>
<h1 style="text-align:left; margin-left:45px;">List of Departments</h1>
<a href="{% url 'create_department'  %}" style="margin-left:1300px;" ><b>Create Departments</b></a>
<!--<a href="{% url 'dept_list' %}" style="margin-left:100px;" >Show Departments</a>-->
<label style="margin-left:40px;"> {% now "d M Y" %} </label>
<label style="margin-left:20px;">Admin: {{ 'satya'| title }} </label>

<table style="margin-left:40px;" border="1">
    <thead>
    <th>Department Name</th>
    <th>Department Description</th>
    </thead>
    <tbody>

        {% if departments %}
            {% for dept in departments %}
            <tr>
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</body>
</html>